body {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.box-form {
    margin: 5% auto;
    width: fit-content;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    box-shadow: 0 0 20px 6px #090b6f85;
}

@media (max-width: 980px) {
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
    }
}

.box-form div {
    height: auto;
}

.box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/SISBanner.svg");
    overflow: hidden;

}

.box-form .left .overlay {
    padding: 30px;
    width: auto;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
}

.box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
}

.box-form .right {
    color: #248eeada;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    overflow: hidden;
}

@media (max-width: auto) {
    .box-form .right {
        width: auto;
    }
}

.box-form .right h3 {
    font-style: initial;
    color: #000000;
    font-size: 4vmax;
    line-height: 0;
}

.box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
}

.box-form .right .inputs {
    overflow: hidden;
}

.box-form .right input {
    width: auto;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}

.box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
}

.box-form .right button {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

.label-role {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;

}

.select-role {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 200px;
    margin-right: 20px;
}

label {
    font-size: large;
}

label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
}

label:hover::before .text-checkbox {
    background: #70F570;
}

label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

label input[type="checkbox"] {
    display: none;
}

button:active {
    color: white;
}

.StudentTitle {
    color: whitesmoke;
    display: block;
    text-decoration: wavy;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.options button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.hidden {
    display: none;
}
select {
    font-size: 16px;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space-collapse: preserve;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}