<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>StudentInformationManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDetailsServlet</servlet-name>
    <servlet-class>com.login.StudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsServlet</servlet-name>
    <url-pattern>/StudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDetailsServlet</servlet-name>
    <servlet-class>com.login.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsServlet</servlet-name>
    <url-pattern>/CourseDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>InstructorDetailsServlet</servlet-name>
    <servlet-class>com.login.InstructorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorDetailsServlet</servlet-name>
    <url-pattern>/InstructorDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>InstructorCoursesServlet</servlet-name>
    <servlet-class>com.login.InstructorCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructorCoursesServlet</servlet-name>
    <url-pattern>/InstructorCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EnrollCourseServlet</servlet-name>
    <servlet-class>com.login.EnrollCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollCourseServlet</servlet-name>
    <url-pattern>/EnrollCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AvailableCoursesServlet</servlet-name>
    <servlet-class>com.login.AvailableCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableCoursesServlet</servlet-name>
    <url-pattern>/AvailableCourses</url-pattern>
  </servlet-mapping>
</web-app>